[2017-09-10 14:01] yleong opened #6 "etcd, api-server mesos tasks is unable to start on dcos v1.9.2"
tail of etcd stderr
[code]
tail of api-server stderr
[code]

I am trying to run the kubernetes framework on an existing DCOS v1.9.2. I used the `beta-kubernetes` package released on the docker image `mesosphere/universe-server:20170908T222335Z-version-3.x-3d0a4e4f33`

Does this release have any hard dependency on DCOS v1.10?

marathon app.json for kubernetes framework
[code]

[2017-09-10 22:01] smugcloud commented on #6
@yleong this does [require](https://github.com/mesosphere/dcos-kubernetes-quickstart/blob/master/docs/existing_cluster.md) DC/OS 1.10.  Please upgrade your cluster, or create a 1.10 cluster and try it out.

[2017-09-10 22:01] #6 closed

[2017-09-11 21:39] ezreal92170 opened #7 "Internet via proxy"
I run DCOS on coreOS and i just try Beta-Kubernetes on DCOS 1.10.0
I use proxy to connect to Internet.

All the tasks are in a running state, but when i try to install a new pod i get the following error

 createPodSandbox for pod "redis-master-1405623842-zt2hq_default(97f75286-972a-11e7-937b-e41f13303b18)" failed: rpc error: code = 2 desc = unable to pull sandbox image
"gcr.io/google_containers/p

[2017-09-12 07:22] Fsero opened #8 "Launching it in AWS does not finish because snapshot IDs are not public or wrong"
When launching the quickstart in AWS it will hang in creating the BareServer autoscaling group due to instances incapable of getting the snapshot. In the Cloudformation template these are the ids listed:

 "SDBSnapshot": {
      "us-west-2": {"snap": "snap-00ae1a58"},
      "us-west-1": {"snap": "snap-2f2c1516"},
      "sa-east-1": {"snap": "snap-356b2302"},
      "us-east-1": {"snap": "snap-5f580

[2017-09-12 09:05] yleong commented on #6
Thanks for clarifying, you are right. The kubernetes scheduler uses `$MESOS_CONTAINER_IP` which is only available in Mesos 1.4/DCOS 1.10

But we still managed to modify the universe kubernetes to work on DCOS 1.9, in case anyone else is interested
https://github.com/yleong/universe/tree/kubernetes-dcos1.9

[2017-09-12 23:04] smugcloud commented on #7
Hi @ezreal92170, this sounds like a routing or firewall issue.  The proxy should not matter, as long as the `kubelet` container has a route to the Internet.  If you enter the container, can you ping the GCR IP?
[code]

[2017-09-13 09:33] ezreal92170 commented on #7
Just to clarify,  in my environment i don't have direct access to Internet. I can only use http and https protocol to access the internet and only through a "corporate" proxy.

In this error message

`Error response from daemon: {"message":"Get https://gcr.io/v1/_ping: dial tcp 74.125.133.82:443: i/o timeout"}`

we see that the daemon try direct connect to the Internet (ignoring my docker core os

[2017-09-13 20:11] spahl commented on #8
Changing line 114 in the Makefile to "cent-os-7" or "coreos" should make it work. Testing and then submitting PR.

[2017-09-13 20:12] spahl commented on #7
Thanks for the details. We are currently in the process of "air gapping" the framework. It will be runnable behind the firewall soon.

[2017-09-13 20:27] ezreal92170 commented on #7
Thanks, if you have some clue to modify inside container any configuration before a new released i can do some test.

[2017-09-14 16:04] Fsero commented on #8
I tried that with the same results...

[2017-09-25 19:29] nitrogear opened #15 "How to access kubernetes service from outside Mesos?"
I installed kubernetes on top of Mesos on AWS using Cloudformation. Installed dashboard and was able to open UI using ssh port forwarding.
However I want to open dashboard from outside Mesos - how I can do it?
I don't understand how to expose port of kubernetes service with Mesos.

[2017-09-28 00:31] jzampieron opened #16 "Add ability to specify existing etcd cluster in options."
Certain folks may have an external etcd cluster running and want to reuse it.

Anyone using the portworx framework will have one, as will certain folks running other services.

DC/OS clusters running on CoreOS will also likely have etcd available.

[2017-09-28 16:45] jzampieron commented on #16
Nick,
Can we leave this ticket open as an enhancement request.

Alternately, who do we escalate to to ensure this makes it on the near-term roadmap.

Expecting customers to waste substantial additional cluster resources and introduce additional ops workload is unacceptable for production environments. There are major cost implications for anyone hosting in public cloud environments.

Are pull requ

[2017-09-28 20:22] nitrogear commented on #15
Used externalIPs to expose service to specific node:
https://kubernetes.io/docs/concepts/services-networking/service/#external-ips

[2017-09-28 20:22] #15 closed

[2017-09-29 12:42] pires commented on #16
@jzampieron from a technical perspective, Kubernetes officially supports, as in validates through extensive end-to-end testing, specific versions of etcd and container runtimes, [such as Docker](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#external-dependencies). We too need to make such a commitment and, for now, that's only possible if the package manages the dependencies.

[2017-09-29 12:44] pires commented on #16
Pull-requests are most welcome! But please understand we are still in the early days and there may be some delay in coming back to you. Thank you!

[2017-09-29 12:46] pires commented on #15
@nitrogear would be great if you could open a PR with instructions on how you achieved this ;)

[2017-09-29 12:47] pires commented on #7
This will be fixed with a new release to happen next week.

[2017-09-29 14:32] jzampieron commented on #16
@pires Thanks for the detailed reasoning. Understood that kube wants its own etcd cluster.

Perhaps we can enhance the example directions to clarify that point since it's apparently very important.

How is the docker version requirement handled since DC/OS has similar requirements?

[2017-09-29 14:48] pires commented on #16
Are you saying you are opening a PR? Sweet! 😉

For the sake of resource isolation, we are not using Docker from the agent but rather a somewhat advanced technique that a lot of people refer to as _docker-in-docker_.
We are aware this is not the perfect solution but only recently did the Kubernetes community stabilize the CRI API, and even more recently are we seeing more stable implementations bei

[2017-09-29 17:29] ezreal92170 commented on #7
thx i will be happy to test that.

[2017-09-30 19:38] nitrogear opened #17 "[FIXED] Can't create Kubernetes nodes"
I'm trying to install beta-kubernetes on DC/OS 1.10.0 using GUI (Services->Run a Service->Install a Package). I changed default parameters:
Kubelet MEMORY SIZE -> 8192
Kubernetes NODE COUNT -> 5
After service is deployed I see only 7 active tasks and there is no any node
[code]
We run DC/OS on AWS 7 instances m3.xlarge. Our current usage is 8 of 28 Shares for CPU and 9 GiB of 96 GiB, so lack of re

[2017-10-01 18:25] rimusz opened #19 "Warning about DC/OS nodes requirement"
read me should have a warning about 6 monsters nodes will be created.
got puzzled for a while as docker deploy failed with missing VMs, then double checked that GCS compute instance group was trying to created 6 instances, my account needed quote increase.

[2017-10-01 22:01] hectorj2f commented on #19
👋 @rimusz Thanks for reporting this issue! Yeah, we probably need to add some additional links to these sentence in the README `Google Cloud (GCE) credentials (AWS and Azure are supported as well) with the necessary permissions`

[2017-10-02 08:38] rimusz commented on #19
maybe also to have an option to set lover spec VMs, as current ones are very beefy ones.

[2017-10-02 09:31] rimusz opened #20 "[FIXED] kubectl-tunnel cannot bind: Cannot assign requested address"
[code]

[2017-10-02 09:40] pires commented on #20
Is your host TCP 9000 already bound?

[2017-10-02 09:44] rimusz commented on #20
nope, as that was running commands for the docker container

[2017-10-02 09:55] pires commented on #20
There's definitely [a problem with forwarding](https://help.ubuntu.com/community/SSH/OpenSSH/PortForwarding#Troubleshooting):

[2017-10-02 09:58] rimusz commented on #20
already destroyed the cluster, might give it a go tomorrow

[2017-10-02 10:01] hectorj2f commented on #20
@rimusz @pires  You get that error if you try to setup the tunnel when you already did it before.

[2017-10-02 10:13] rimusz commented on #20
ok, fetched the first error:
[code]

[2017-10-03 09:11] pires commented on #7
Can you try [the new release](https://docs.mesosphere.com/service-docs/beta-kubernetes/0.2.0-1.7.6-beta) and report back?

[2017-10-03 09:11] pires commented on #17
Can you try [the new release](https://docs.mesosphere.com/service-docs/beta-kubernetes/0.2.0-1.7.6-beta) and report back?

[2017-10-03 09:14] pires commented on #19
@spahl @smugcloud I think that we should remove the automation (Makefile) if we can't support it. At this time, I don't think we can and it seems to be causing a negative impact.

[2017-10-03 09:15] pires commented on #20
Ah, do you have IPv6 enabled on your machine?

[2017-10-03 09:17] rimusz commented on #20
on my Mac I have IPv6 as `Link-local only` set

[2017-10-03 09:36] pires commented on #20
Can you edit your `Makefile` and add `-4` flag to the ssh command, i.e. `ssh -i .id_key -4 -f -o (...)` and try again?

[2017-10-03 10:08] rimusz commented on #20
`-4` (IPv4) did the trick

[2017-10-03 10:08] rimusz commented on #17
seeing same with new release

[2017-10-03 10:09] pires commented on #20
Cool! We are working on a bug-fix release that will update the public docs and include this. I'll close when it's released.

[2017-10-03 10:10] pires commented on #17
@rimusz you only see 7 tasks too?

[2017-10-03 10:20] rimusz commented on #17
I see these tasks:
[code]

[2017-10-03 10:22] rimusz opened #22 "GCE setup missing GCE_CREDENTIALS/GCE_CREDENTIALS_PATH"
the latest release (0.2.0-1.7.6-beta) ignores `GOOGLE_APPLICATION_CREDENTIALS` env var and is looking for `GCE_CREDENTIALS/GCE_CREDENTIALS_PATH` ones again

[2017-10-03 11:41] rimusz commented on #17
ok, my issue was I had downsized GCE nodes as `n1-standard-4`
creating `options.json`:
[code]
and running `dcos package install --yes beta-kubernetes --options options.json` I got k8s cluster running.
Thanks to @pires for the help.

[2017-10-03 12:34] pires commented on #17
@nitrogear issue was also the lack of resources.

While a cluster may have more than enough resources available to it, the fact is that right now we can only run one Kubernetes node per DC/OS agent and we need the agent to have enough resources available, i.e. not allocated to other DC/OS tasks.

This [limitation is identified](https://docs.mesosphere.com/service-docs/beta-kubernetes/0.2.0-1.7.6-b

[2017-10-03 20:43] pires commented on #7
Closing. Please report back if you encounter any issues.

[2017-10-03 20:43] #7 closed

[2017-10-03 20:44] pires commented on #20
The [0.2.1-1.7.7-beta release](https://docs.mesosphere.com/service-docs/beta-kubernetes/0.2.1-1.7.7-beta/release-notes/) already provides updated documentation. Will still need to fix this repo. Will do it tomorrow.

[2017-10-03 23:05] #22 closed

[2017-10-04 07:59] TimAltman opened #24 "JS exception when creating Kubernetes service using GUI"
I can't create kubernetes service (1.7.6-1.7.7) using GUI in DC/OS 1.10.0. However Iwas able to deploy kubernetes 1.7.5 before.
My steps are as follows: Services->Run a Service->Install a Package->beta kubernetes.
When I click Configure or Deploy nothing happens. In web console I see errors:
for Configure
[code]
for Deploy
[code]

[2017-10-04 14:52] hectorj2f commented on #19
@pires @spahl We could easily improve this user experience by extracting the yaml files with the vm definitions out of the Makefile.

A quick solution could be to move the yaml templates out of the Makefile and simply refer them in the Makefile by `LAUNCH_CONFIG_GCE=`cat $(./resources/gce.template.yaml)`. With this solution, it'd be more clear to users to see which target infrastructure we support

[2017-10-05 17:26] pires commented on #24
This is an issue with DC/OS 1.10 that has been fixed in the next release, 1.10.1. We're sorry for any inconvenience and recommend you use the CLI for now.

[2017-10-10 16:09] MikeMichel commented on #8
same here. changing the makefile does not help.

[2017-10-11 15:22] spahl commented on #8
We are looking into a fix

[2017-10-15 13:04] ezreal92170 opened #27 "mandatory-addons-0 failed"
I tried to install the default config of the dcos beta-kubernetes package v 0.2.2-1.7.7-beta.
The first 19 tasks are healthy but the mandatory-addons-0 failed with the following error
Any idea?

`2017/10/14 21:47:28 No $MESOS_SANDBOX/.ssl directory found. Cannot install certificate. Error: stat /var/lib/mesos/slave/slaves/2153cc40-c292-4ee6-a7d9-9771aacd2109-S0/frameworks/dd0f75fe-9b95-4a2d-a514-5

[2017-10-15 17:14] hectorj2f commented on #27
@ezreal92170 I just installed `beta-kubernetes` package `v0.2.2-1.7.7-beta` without any problem. However it is possible `kube-dns` isn't ready whenever we try to deploy it in the first iteration getting this error `kube-dns check failed and is not ready`. The system creates a new task `mandatory-addons-0-kube-dns` that retries to install `kube-dns` again. Can you confirm you don't see any `mandato

[2017-10-15 17:35] ezreal92170 commented on #27
Yes I don't see any `mandatory-addons-0-kube-dns` task with `Finished` status..

kubectl get pods -n kube-system
NAME                        READY     STATUS              RESTARTS   AGE
kube-dns-2102953216-dvw4g   0/3       ContainerCreating   0          <invalid>
`
And I have the following error log on kube node  :

E1015 19:27:04.550963      53 remote_runtime.go:91] RunPodSandbox from runtime se

[2017-10-16 09:57] hectorj2f commented on #27
@ezreal92170 yeah, it seems it cannot pull the image. That is why it doesn't work.

[2017-10-17 09:24] nitrogear opened #28 "Can't uninstall kubernetes service"
We had k8s service with 5 nodes (21 running tasks) on DC/OC 1.10. I noticed that some tasks failed and today only 8 tasks were running. I tried to uninstall service by:
[code]

However, service wasn't completely removed and now I see only 1 task kubernetes.565e588c-b318-11e7-963f-46f4cd883ac6 in unhealthy state. Tried to run uninstall command again, but it didn't help.
How I can delete the service

[2017-10-17 09:59] hectorj2f commented on #28
@nitrogear Can you try the following command `dcos marathon app remove /kubernetes` ? If that doesn't work, try to use the janitor https://dcos.io/docs/1.7/usage/managing-services/uninstall/. This issues isn't related to the kubernetes package.

[2017-10-17 10:20] nitrogear commented on #28
It helped! Thank you very much

[2017-10-17 10:20] #28 closed

[2017-10-17 10:24] hectorj2f commented on #19
We've extracted the yaml files out of the Makefile into the `resources` directory (https://github.com/mesosphere/dcos-kubernetes-quickstart/tree/master/resources). We also added a note in the README.md to allow users to customize them.

I think we can close this issue.

[2017-10-17 10:27] rimusz commented on #19
cool

[2017-10-17 10:27] #19 closed

[2017-10-17 17:34] #17 closed

[2017-10-17 18:18] nitrogear opened #29 "Can't uninstall"
Kubernetes service keeps crashing when I provision it from UI or from dcos console.
I see only one task running (name is changing):
[code]
and a 200+ completed tasks (failed/killed).
Trying to install beta-kubernetes 0.2.2-1.7.7-beta on DC/OS 1.10.
I tried to deleted kubernetes, uninstall command said that it's removed, but I see that kubernetes service is still exist. The only way to remove it is

[2017-10-18 02:57] adam-carbone commented on #29
I1018 02:36:02.568322  4305 fetcher.cpp:533] Fetcher Info: {"cache_directory":"\/tmp\/mesos\/fetch\/root","items":[{"action":"BYPASS_CACHE","uri":{"cache":false,"executable":false,"extract":true,"value":"https:\/\/downloads.mesosphere.com\/java\/jre-8u144-linux-x64.tar.gz"}},{"action":"BYPASS_CACHE","uri":{"cache":false,"executable":false,"extract":true,"value":"https:\/\/downloads.mesosphere.com\

[2017-10-18 03:11] adam-carbone commented on #29
INFO  2017-10-18 03:06:29,651 [main] com.mesosphere.sdk.dcos.DcosCertInstaller:determineCertPath(87): Cert file not found at the expected path, /var/lib/mesos/slave/slaves/ad94e382-26c1-4832-bbff-b08e21a835d6-S9/frameworks/ad94e382-26c1-4832-bbff-b08e21a835d6-0001/executors/kubernetes.4c316c03-b3b1-11e7-963f-46f4cd883ac6/runs/1bd10563-0f93-4337-9bd8-9b8945774bdf/.ssl/ca-bundle.crt, for a 1.10 clus

[2017-10-19 16:36] pires commented on #27
@ezreal92170 are you behind a proxy?

@spahl aren't we supposed to be air-gap friendly?

[2017-10-19 16:37] pires commented on #24
We've released an interim solution in [0.2.2-1.7.7-beta](https://docs.mesosphere.com/service-docs/beta-kubernetes/0.2.2-1.7.7-beta/).

[2017-10-19 16:37] #24 closed

[2017-10-19 16:38] pires commented on #20
Fixed in https://github.com/mesosphere/dcos-kubernetes-quickstart/commit/ec5ba644a2fbd6fc7c8eb3a4beb4f55dd4edd622.

[2017-10-19 16:38] #20 closed

[2017-10-19 16:43] spahl commented on #27
If you are behind a proxy or do not have direct internet access from the nodes then you need to build a local universe containing the beta-kubernetes package and use that.

More here: https://dcos.io/docs/1.10/administering-clusters/deploying-a-local-dcos-universe/#-a-name-build-a-installing-your-own-set-of-universe-packages

[2017-10-19 18:17] ezreal92170 commented on #27
I am behind a proxy but I don't understand why building a local universe could help.
I have no problem to create the framework.

[2017-10-19 19:36] pires commented on #27
The problem seems to be that the framework scheduler can't download the artifacts it needs, namely the official Kubernetes components, because it doesn't know about your proxy settings. This is why we have what @spahl linked above.

[2017-10-23 05:37] errordeveloper opened #31 "cannot get 3 nodes"
I've deployed DC/OS using CloudFormation with all default parameter values.

First time I installed Kubernetes (with default config), I only got 1 node and 14h later it was still only one of them:
[code]

I've re-deployed it on the same cluster, and got 2 nodes:
[code]

[2017-10-23 08:32] hectorj2f commented on #31
@errordeveloper Thanks for opening this issue. Could you share the logs you get with `dcos service log --lines=N kubernetes`, and also `dcos task --completed` ? That'll help us to understand what is the problem.

[2017-10-23 09:01] errordeveloper commented on #31
@hectorj2f please take a look at https://gist.github.com/errordeveloper/7d976e17c7a25e59d1d6058854a6a67a.

[2017-10-23 09:07] hectorj2f commented on #31
@errordeveloper The problem is due to insufficient resources to schedule all the Kubernetes components. For instance, I can see this warning in the dcos logs `Unable to find any offers which fulfill requirement provided by step kube-node-1:[kube-proxy, kubelet]: kube-node-1:[kube-proxy, kubelet]`.

Please, have a look at the docs here: https://github.com/mesosphere/dcos-kubernetes/blob/master/docs

[2017-10-23 09:11] errordeveloper commented on #31
@hectorj2f oh, I suspected that.. it's too bad, cause I thought 5 slave instances should be sufficient to run 3 Kubernetes nodes.

[2017-10-23 09:19] errordeveloper commented on #31
I've had `weavescope` and `weavescope-probe` packages installed, after removing those I can see 3 nodes. I'm still not convinced Kubernetes on DC/OS should require so much resources.

[2017-10-23 09:25] hectorj2f commented on #31
@errordeveloper Sure, I understand. However, the idea is to have some default settings (with HA, ...) where you can actually run stuff.

For a playground environment, I suggest you to change the settings  of the `options.json` file such as reducing the amount of kube-nodes, control-plane replicas, memory and cpu requirements, as mentioned in https://docs.mesosphere.com/service-docs/beta-kubernetes

[2017-10-24 10:22] linben opened #32 "node-1 kublet and kubeproxy failing repeatedly"
We have configured a local universe with kubernetes 0.2.2-1.7.7 on DC/OS 1.10. The environment is completely air gapped with no access to the internet. Upon installing the k8s framework, all tasks launch properly except for node-1-kubelet and node-1-kubeproxy. Node-0 and node-2 kubelet and kubeproxy run successfully. There are plenty of resources available so it's not a resource issue. The tasks s

[2017-10-27 07:15] linben commented on #32
Issue was due to universe synchronization across masters

[2017-10-27 07:15] #32 closed

[2017-10-27 07:19] linben opened #33 "kube-dns addon fails in air gapped environment"
the mandatory-addons-0-kube-dns task fails in an air gapped environment due to inability to pull the following resources

[code]

[2017-11-02 07:22] ted-jung commented on #33
Hi, linben
I also have the same issue while met installing kubernetes on DC/OS(community edition)
following is my last error message that i got.
======================
 ######  Deploying kube-dns components --  ######
configmap "kube-dns" configured
service "kube-dns" configured
deployment "kube-dns" configured
kube-dns check failed and is not ready
================================

Rest of other

[2017-11-02 07:38] linben commented on #33
Hi @ted-jung

In addition to the above images, you need ```gcr.io/google_containers/pause-amd64:3.0```

Make those images available locally in your image registry. Then run ```kubectl replace -f <component.yaml>``` for kube-dns, heapster, and dashboard (after modifying the configs to point to your private registry images).

Do ```kubectl get pods --all-namespaces``` to see status of these componen

[2017-11-02 08:56] hectorj2f commented on #33
@ted-jung @linben In our next release, we'll include a fix to tackle this issue. In any case, the registry from which to pull these docker images can be configured in our package via `resource.json` although we recommend to use the `gcr.io/google_containers` registry to avoid undesired issues.

In the following releases, we might include some flags to disable the deployment of heapster and dashboa

[2017-11-07 23:55] pires commented on #33
Should be fixed in 0.3.0-1.7.10-beta.

[2017-11-07 23:55] #33 closed

[2017-11-07 23:56] pires commented on #27
Should be fixed in 0.3.0-1.7.10-beta release, for as long as you have DC/OS configured to use the HTTP proxy.

[2017-11-09 11:25] pires commented on #29
This is a DC/OS bug that is supposedly fixed in 1.10.1. Can you please retry and re-open if it still doesn't work?

[2017-11-13 11:50] vishal-biyani opened #36 "Accessing a Service from outside the cluster"
I have deployed kubernetes cluster using `make deploy` command mentioned in README.md.
Nginx is deployed on top this cluster and exposed using `NodePort` service. If I try to hit the nodeIP:nodePort I get `connection refused` error.

I can see service is listening on nodePort.
[code]

Hitting the endpoint from same machine results in same error.
[code]

Creating service of type 'LoadBalancer' rema

[2017-11-13 15:32] vishal-biyani opened #37 "Invalid SSH key format error on GCE dashboard"
I have created DCOS+Kubernetes cluster on GCE using procedure mentioned in README.md.
When I try to edit any parameters (Network tags etc.) for VMs spawned by above procedure, GCE dashboard does not allow to save any changes since the SSH public key already injected does not follow standard SSH key format. GCE dashboard shows bellow error:

[code]

This makes doing any changes to VM configuration

[2017-11-13 19:55] smugcloud commented on #36
Hi @vishal-biyani,

For your nginx container, can you share details on the Kubernetes manifests, and image you used?  It looks like kube-proxy is routing the traffic, but perhaps your nginx container is listening on a different port than what you have specified.

For your `LoadBalancer` question, we have not enabled the `cloud-provider` flags on Kubernetes yet (this is coming shortly), so an exter

[2017-11-16 13:43] pires commented on #37
@spahl what can be done here?

[2017-12-08 10:21] rimusz commented on #36
hey @vishal-biyani I have made a demo hoe to expose your web apps externally https://github.com/rimusz/dcos-k8s-beer-demo
Check from https://github.com/rimusz/dcos-k8s-beer-demo#helm-setup part

[2017-12-12 00:15] rimusz opened #43 "GCE Instance templates do not get deleted"
Deleting cluster with with `make destroy-dcos` leaves GCE Instance template

[2017-12-12 09:09] hectorj2f commented on #43
Did the command `make destroy-dcos` exit with code 0 ? If there was an error that could explain why it didn't delete it.

[2017-12-12 17:33] rimusz commented on #43
sure, will check it again

[2017-12-12 18:55] rezblaze opened #44 "Unable to deploy with local universe."
cd /root
git clone https://github.com/mesosphere/universe.git --branch version-3.x
cd universe/docker/local-universe/
sudo make base
sudo make DCOS_VERSION=1.10 DCOS_PACKAGE_INCLUDE="beta-kubernetes:0.3.0-1.7.10-beta" local-universe

Fails with:

Successfully built xxxx
Errors: ['beta-kubernetes']
These packages are not included in the image.

[2017-12-12 19:49] rimusz commented on #43
I do not see any error:
[code]
But the `Instance template` still does not get deleted.

[2017-12-13 15:27] hectorj2f commented on #43
@rimusz I'll have a look. Perhaps dcos-launch delete command finished with a non 0 code. `cluster_info.json` and `launch.yaml` must be removed.

[2017-12-13 18:28] rimusz commented on #43
`cluster_info.json` and `launch.yaml` get removed

[2017-12-13 18:32] hectorj2f commented on #43
@rimusz Okay, that might be something related to `dcos-launch delete`. I'll take care of it or raise the issue to the `dcos-launch` devs ;).

[2017-12-14 19:27] mjschmidt commented on #44
If you look at the resource file for the beta-kubernetes did you make sure to
1) bring all of those resources into what ever environment you plan on using them (since I am assuming you are doing a local universe you are not going to be in an online environment?
2) Re-point the resources in the resource file to the new location that those files are being held?

[2017-12-14 19:28] mjschmidt commented on #44
That file would be in <local_universe_name>/repo/packages/B/beta-kubernetes/4 (or what ever version number you are currently trying to deploy)

[2017-12-16 00:26] f0ster opened #46 "Creating with AWS"
When I run `make docker` , I can see my AWS creds being passed in, but when I run `make deploy PLATFORM=aws` or `make launch-dcos PLATFORM=aws`, I get errors about GCE not being found.  Should this not be a dependency since I am trying to install on AWS?

[2017-12-18 12:31] hectorj2f commented on #46
@f0ster I just deployed my cluster on AWS following these steps without getting any error. I didn't specify any GCE credentials, and consequently I didn't get any error about it.

[code]

Could you print the errors you're seeing ?

[2017-12-18 12:58] rimusz commented on #46
me too followed the steps above, got set dc/os cluster on aws just fine

[2017-12-18 16:22] rimusz opened #48 "Broken pipe for dcos-launch create -c launch.yaml"
Running `make deploy` (after `make docker`) and getting broken pipe errors:
[code]

Repeated `deploy` a few times, always getting the same errors.

[2017-12-21 17:36] sm0nt commented on #29
I had this same issue, even after upgrading to 1.10.1.  I was able to get Kubernetes to install by going to the Exhibitor for Zookeeper page and deleting the "dcos-service-kubernetes" folder in the Explorer tab.  After doing that Kubernetes installed for me.

[2017-12-22 13:45] pires commented on #29
cc @spahl please help. don't know for sure what to do here.

[2017-12-22 14:14] rimusz commented on #29
seen this issue a few times on 1.10.2 too

[2017-12-22 18:07] #46 closed

[2018-01-08 09:08] rimusz commented on #48
cannot reproduce anymore, closing

[2018-01-08 09:08] #48 closed

[2018-01-09 10:44] rimusz commented on #43
not the issue anymore, infra gets now deployed with terraform, closing

[2018-01-09 10:44] #43 closed

[2018-01-11 11:00] deric commented on #27
I'm having the same issue with `0.4.0-1.9.0-beta`. All artifacts seems to be downloaded in the work dir.
[code]

[2018-01-11 12:06] #27 closed

[2018-01-11 12:07] pires commented on #27
@ezreal92170 https://docs.mesosphere.com/services/beta-kubernetes/0.4.0-1.9.0-beta/advanced-install/#when-you-have-a-proxy

[2018-01-11 12:07] pires commented on #27
@deric that's a different issue and i'll open a new one with your feedback.

[2018-01-11 12:09] pires opened #52 "Exception when using custom TLS provisioning"
As reported by @deric:

[code]

@bmcstdio any idea what is triggering this?

[2018-01-11 22:28] deric commented on #52
I wasn't using any certificate, I've just installed `beta-kubernetes` with default parameters on DC/OS 1.10.3 (open-source).

[2018-01-15 04:27] seanhig opened #55 "Error: 'tls: oversized record received with length 20527'"
DC/OS 1.10 on CentOS7.4

Following these instructions:
https://docs.mesosphere.com/services/beta-kubernetes/0.4.0-1.9.0-beta/connecting-clients/

Everything works fine from the CLI, and http://localhost:9000 returns the expected list of apis...

But when I try to browse to:

`http://localhost:9000/ui`

I get:

[code]

If I change the url from https to http, it will bring up the dashboard:

localho

[2018-01-15 18:29] seanhig commented on #55
For anyone else experiencing this.. the heapster issue is not tied to the TLS.  After running:

`kubectl proxy
`
On top of the ssh tunnel they describe in the DC/OS Connecting Clients page, the url:

`localhost:8001/ui
`
Does load up the dashboard correctly, however __heapster__ graphs are still broken.

Looking at the __kubernetes-dashboard__ logs, there are issues connecting to heapster (likely

[2018-01-19 20:20] cap1981 commented on #44
this is the error i see while running
sudo make base
[code]

[2018-01-29 20:28] tedmiston opened #56 "Kubernetes on DC/OS general availability timeline"
Hi - I'm currently just getting started with the Kubernetes on DC/OS beta and was asked to reach out about what the timeline is for general availability.

I saw [the beta warning](https://github.com/mesosphere/dcos-kubernetes-quickstart/commit/a17f554c595428a7fbcfae017513a64ecc7dfc0b) added in September 2017 with DC/OS 1.10 and was curious if this status has changed since then.  Does GA come with

[2018-01-29 21:38] pires commented on #56
Hi @tedmiston. We are currently working towards GA and it should be announced simultaneously with DC/OS 1.11. This should happen still in Q1.

We are planning to release yet another beta, followed by one or more release candidates until we hit GA. Join our community slack and be notified when that happens.

[2018-01-29 21:39] pires commented on #55
This will be simplified as soon as we remove the need for the SSH tunnel - which will require DC/OS 1.11

[2018-01-29 21:40] pires commented on #52
ping @bmcstdio

[2018-01-29 21:41] pires commented on #44
@spahl do we support local universe?

[2018-01-29 22:54] tedmiston commented on #56
@pires Thank you! That sounds great.

I think this is the Slack team you mentioned - https://dcos-community.slack.com/.  I'm seeing:

Contact your Workspace Administrator for an invitation.

How does one join without an official email?

[2018-01-29 23:19] smugcloud commented on #56
Hi @tedmiston try this link.  You can get an invite on your own:

http://chat.dcos.io/

[2018-01-30 09:42] bmcstdio commented on #52
@deric are you able to reproduce this issue consistently? Can you please share some more details about your DC/OS cluster and how it was bootstrapped (Terraform, `dcos-launch`, custom)?

[2018-01-30 13:44] mjschmidt commented on #44
I use to run it, honestly it is way easier to just run pure kubernetes. I ran into tons of issues with trying to run kubernetes ontop of DC/OS

[2018-01-30 14:52] deric commented on #52
@bmcstdio On premise installation via advanced installed (bootstrap server), if it makes any difference. The only change I've made was modifying application ID to `/dev/k8s`.

[2018-01-30 15:30] pires commented on #44
Would be great to get all those issues reported @mjschmidt. Unfortunately, just saying _tons of issues_ won't help us help you :(

[2018-01-30 16:01] pires commented on #52
@deric the problem is the application ID. We don't support namespaces (yet?), so please remove the slashes.

I'm re-assigning this to @spahl as he's our GrandMaster of DC/OS and roadmap.

[2018-01-31 18:19] tedmiston commented on #56
thank you both.  looks like i'm in!

[2018-01-31 18:19] #56 closed

[2018-02-01 02:28] wyfligamo opened #57 "Add flannel error"
quickstart version: beta-kubernetes:0.4.0-1.9.0-beta
dcos version:  1.10.4

I installed kubernetes with web ui,it seems every service in dcos thing is going on and  I can get three Ready nodes
<pre>
[root@localhost ~]# kubectl get nodes
NAME                                   STATUS    ROLES     AGE       VERSION
kube-node-0-kubelet.kubernetes.mesos   Ready     <none>    23h       v1.9.0
kube-node-

[2018-02-01 07:51] hectorj2f commented on #57
@wyflimago Why do you need to install flannel ?

[2018-02-01 07:58] pires commented on #57
Hi @wyfligamo! Currently, we support **only** the DC/OS overlay. We have been trying some other overlay networks, like Calico, but it will need more work, and so we'll leave it to post-GA.

Adding some more details, in this particular case, the error is:

This happens because we do not enable the `--allocate-node-cidrs` flag for the `kube-controller-manager`.

[2018-02-01 08:04] pires commented on #57
@wyfligamo feel free to comment but I'm going to close this as it's no bug. Thank you for reporting.

[2018-02-01 08:05] pires commented on #8
@spahl any updates on this?

[2018-02-01 08:06] pires commented on #29
Hello all, are you still observing this with the latest version of the package and more recent DC/OS 1.10.x?

[2018-02-01 08:07] #29 closed

[2018-02-01 08:10] pires commented on #31
@errordeveloper the defaults are meant for a trivially good overall UX when installing Kubernetes on DC/OS for the first time. As we speak, there are no plans to make this less resource demanding for the purpose of just trying it out on less DC/OS private agents or much less resources.

Thank you for reporting.

[2018-02-01 08:10] #31 closed

[2018-02-01 08:13] pires commented on #36
@smugcloud can you please add documentation to our public docs about how a user can access a `Service` from outside of the cluster? Ping me and let's sync because while I have all the possible solutions on my mind, time is really short for me.

[2018-02-01 08:13] pires commented on #37
@rimusz @hectorj2f  any hints?

[2018-02-01 08:16] pires commented on #52
Next release will have a check that will fail earlier and complain about this. This limitation will also be documented in the installation section.

[2018-02-01 08:16] #52 closed

[2018-02-01 08:17] pires commented on #55
Thank you for reporting @seanhig. Our next release will replace Heapster with metrics-server and you should stop seeing this issue.

[2018-02-01 08:17] #55 closed

[2018-02-01 08:18] pires commented on #37
@vishal-biyani can you try the latest version of the package and instructions, which now use Terraform instead of dcos-launch, please?

[2018-02-01 08:19] pires commented on #37
@rimusz can you please help identify this issue?

[2018-02-01 09:38] vishal-biyani commented on #37
@pires Thanks for reverting but I am not active on the project and don't have the setup readily available with me anymore. I will see if I can spend some time and quickly spin and test this out.

[2018-02-01 10:48] pires commented on #37
@vishal-biyani I will then close this issue. Please, if you ever face this issue again, don't hesitate and comment here, and I'll re-open it. Thank you for reporting!

[2018-02-01 10:48] #37 closed

[2018-02-01 21:56] smugcloud commented on #36
Hi @vishal-biyani, we have updated documentation that walks through exposing services.  Currently, we support the AWS `cloud-provider` (configuration flag at Kubernetes package installation), or an [Ingress resource](https://docs.mesosphere.com/services/beta-kubernetes/0.4.0-1.9.0-beta/ingress/).

Let me know if you run into any issues.

[2018-02-02 05:22] wyfligamo commented on #57
@hectorj2f  my kube-dns pod status is CrashLoopBackOff and kubedns container log says

<pre>
E0202 01:21:34.174837       1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:147: Failed to list *v1.Endpoints: Get https://10.100.0.1:443/api/v1/endpoints?resourceVersion=0: dial tcp 10.100.0.1:443: i/o timeout
E0202 01:21:34.175333       1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:150: Failed to list *v1.

[2018-02-02 05:31] wyfligamo commented on #57
@pires I don't understand about DC/OS overlay, is that working as a kubernetes pods or a dcos/k8s service?
My k8s only start kube-dns and heapster pods, is that right? they can't communicate with api service, but I can get api response with browser outside the cluster
<pre>
[root@localhost ~]# kubectl logs --namespace=kube-system heapster-7d7b7f4f87-brp2l
E0202 05:26:09.524966       1 reflector.go

[2018-02-02 07:36] pires commented on #57
@wyfligamo https://docs.mesosphere.com/1.10/networking/virtual-networks/#dcos-overlay

[2018-02-02 07:42] pires commented on #57
@wyfligamo looking at your logs, your problem doesn't seem to be pod networking so the description of this issue was misleading.

Again, looking at your logs it seems that kube-dns can't connect to the Kubernetes API (`10.100.0.1`). Does your host network use any of `10.0.0.0/8` or `10.100.0.0/16` CIDRs?

[2018-02-02 07:44] #57 closed

[2018-02-02 07:46] pires opened #58 "kube-dns crashes because it can't access Kubernetes API"
@wyfligamo reported the following in #57:

(issue comments edited by @pires, in order to make things more clear here)

my kube-dns pod status is CrashLoopBackOff and kubedns container log says

[code]

My k8s only start kube-dns and heapster pods, is that right? **they can't communicate with api service, but I can get api response with browser outside the cluster**

[code]

[code]

[2018-02-02 07:47] pires commented on #57
Since this issue was initially about running flannel and that has been clarified to the user, I am moving the real issue to a new issue #58. Let's continue there.

[2018-02-02 07:50] pires commented on #58
@wyfligamo looking at your logs it seems that kube-dns can't connect to the Kubernetes API (`10.100.0.1`). Does your host network use any of `10.0.0.0/8` or `10.100.0.0/16` CIDRs?

You can reach the API from your browser because the SSH tunnel forwards to the DC/OS VIP `apiserver-insecure.kubernetes.l4lb.thisdcos.directory:9000` and not the Kubernetes API (internal to the Kubernetes cluster) Servi

[2018-02-02 09:58] wyfligamo commented on #58
@pires Thanks for follow my question.
My cluster IP is 10.100.100.11-17, is that a problem? Can I change the k8s service cluster IPs CIDR ?

[2018-02-02 10:34] pires commented on #58
Yes, it's a problem. Yes, you can.

- Assuming you're installing with the default options, create a JSON file with the following contents:

[code]

  **Attention:** replace `<YOUR_CIDR_HERE>` above with a CIDR block that is not assigned anywhere
  else, e.g. `10.90.0.0/16`.

- Save the file.
- Uninstall the framework and wait for all tasks to go away.
- Install the framework as follows:
[code]

[2018-02-02 10:38] pires commented on #58
I will add a sub-section describing this in our Advanced Installation package docs.

[2018-02-02 10:40] rimusz commented on #58
in the case of using this `quickstart`, `options.json` gets created in `.deploy` folder when you e.g. do `make gce`, then edit that file and add `service_cidr` there

[2018-02-02 10:51] pires commented on #58
Thank you @rimusz.

[2018-02-02 12:41] wyfligamo commented on #58
@pires Thanks, I'll have a try and feedback in next Monday.

[2018-02-05 11:09] wyfligamo commented on #58
Hi, @pires
I change my service CIDR to 10.90.0.0/16, and I'm sure that IPs are not in use, but still get the same problem

[2018-02-05 11:22] wyfligamo commented on #58
@pires , I make a mistake, the error is not same,
<pre>
E0205 11:18:05.352816       1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:150: Failed to list *v1.Service: Get https://10.90.0.1:443/api/v1/services?resourceVersion=0: x509: certificate is valid for 127.0.0.1, 10.100.0.1, not 10.90.0.1
E0205 11:18:05.419043       1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:147: Failed to list *v1.Endpoints:

[2018-02-05 12:13] pires commented on #58
@wyfligamo correct. This is a bug on our end and I have no workaround for you at this point. We will be releasing a new beta later this week and a fix will be included. Please, bear with us.

Thank you for your feedback!

[2018-02-05 12:44] wyfligamo commented on #58
@pires That's OK, wish you success :  )

[2018-02-08 21:28] cap1981 commented on #44
local universe seems to have everything but when deploying start out with FAILED etcd, stderr file doesn't have anything looks like error but stdout have last thing below.
[code]

eventuallly they start running and also spins up other component  goes all the way to deploying nodes but it fails there.

[code]

[2018-02-09 13:32] #58 closed

[2018-02-09 15:29] cap1981 commented on #44
@spahl @pires
so is local universe supported or not? if you could reply quick please that be greatly appreciated.
Thank you!

[2018-02-10 09:10] pires commented on #44
I can't answer because I never used it. But I can say the Kubernetes team hasn't tried it as well so it's safe to assume it is not supported in GA.

[2018-02-12 12:31] cap1981 commented on #44
Thanks @pires !

[2018-02-18 14:42] cap1981 commented on #27
@pires was new issue created for @deric 's  issue?
thanks!

[2018-02-18 15:03] pires commented on #27
@cap1981 https://github.com/mesosphere/dcos-kubernetes-quickstart/issues/52

We are about to release a new beta that includes a lot of bug-fixes. Stay tuned.

[2018-02-18 15:05] cap1981 commented on #27
Thank you! i am dealing with similar issues with mandatroy-addon.

[2018-02-23 11:00] #36 closed

[2018-03-03 09:40] pires commented on #31
@errordeveloper with [0.6.1-1.9.3-beta](https://github.com/mesosphere/dcos-kubernetes-quickstart/pull/64) merged, it should be easier for you (or anyone else with limited resources) to try this out :)

[2018-03-14 12:50] redpine42 opened #70 "2nd replica for dns fails"
I'm running open source DC/OS 1.11 kubernetes.  When I start with one kublet, one kube-dns starts up and everything works perfect.  When I start with two or more kublets, two kube-dns startup and the second one fails.  This appears to cause  failures in the metrics server and dashboard.

[code]

[code]

[2018-03-14 13:22] bmcstdio commented on #70
@redpine42 can you reproduce the issue? If yes, can you please list the exact steps you took to reproduce? Also, it would be great if you could provide the logs of the failed `kube-dns` pod.

If at least one replica of `kube-dns` is up there should be no problem with `metrics-server` and the Dashboard. Can you please describe what problems you had, and provide logs for those pods too?

[2018-03-14 13:27] bmcstdio commented on #70
None of the `kube-dns` pods could start successfully. Are you using the DC/OS overlay network? Also, you seem to have specified a custom service CIDR. It would be great if you could provide the exact steps you followed to setup this cluster.

[2018-03-14 13:33] redpine42 commented on #70
I'm running against 6 node bare metal cluster(1 master, 2 public slaves, 3 private slaves).  The custom CIDR was just a test.  I'm running from the UI.  It works when I start kubernetes from the default configuration.  When I change the number of kublets, I notice that two kube-dns pods start.  The first usually succeeds, the second has failures and goes into a CrashBackLoop.  Via kubectl get all,

[2018-03-14 13:46] redpine42 commented on #70
Also, I've configured the cluster using the advanced install instructions.  My configuration is real basic.  Below is the contents of the config.yaml

[code]

[2018-03-14 14:17] bmcstdio commented on #70
This is expected—we run a maximum of two `kube-dns` replicas, but only one if there is only one node.

Even though the `kube-dns` pods are listed as `Running`, only two out of three containers in the pod are healthy. In the particular case of `kube-dns`, this usually indicates a problem with your overlay network—either not working at all, or some firewall rules blocking traffic.

Did you also spec

[2018-03-14 14:23] redpine42 commented on #70
I have no firewalls running in the cluster.  I don't change anything in the startup, but the number of kublets.  The CIDR change was just a test.

If it's a problem with a firewall or the overlay network, wouldn't a single kublet also fail?

[2018-03-14 14:27] bmcstdio commented on #70
Did you change the CIDR _after_ installing with the default configuration (i.e., after having installed the package for the first time with the default configuration)? Changing the service CIDR _after_ installing the package [is not supported](https://docs.mesosphere.com/services/kubernetes/1.0.1-1.9.4/upgrade/#noteworthy-package-options).

[2018-03-14 14:29] redpine42 commented on #70
No.  The CIDR has always been the same except for the one test, which was after this problem had been going on for awhile.

[2018-03-14 14:33] redpine42 commented on #70
I finnaly got to the kube dashboard and it's reporting this.
Readiness probe failed: Get http://9.0.9.32:8081/readiness: dial tcp 9.0.9.32:8081: getsockopt: connection refused

[2018-03-14 19:24] redpine42 commented on #70
Interestingly, if I start all three kublets and select HA, both kube-dns come up.

Does kube-dns look for the apiserver on its own node?  That would explain why most times I only get one kube-dns working when not running in HA, since not running HA starts on api server on my three nodes.  Also, sometimes no kube-dns starts.

[2018-03-15 22:45] pires commented on #70
This is not the default CIDR. And, clearly, kube-dns can't connect to the API in this case.

@bmcstdio out of curiosity, have you tried to start non-HA, scale to three nodes and scale kube-dns?

[2018-03-15 23:05] redpine42 commented on #70
I am not using that CIDR.  I am using the default.  That was a one time test out of about 100.  So please ignore that I used that CIDR. I'm using the default for the other 99 tests.

[2018-03-16 08:16] pires commented on #70
@redpine42 ok. so, please, provide us with a detailed way to reproduce this.

[2018-03-16 08:17] pires commented on #44
@cap1981 @rezblaze local universe support will land next week!

[2018-03-16 08:18] pires commented on #8
@rimusz can you verify this, please?

[2018-03-16 08:20] redpine42 commented on #70
I did.  Use the default settings, except initialize with 3 kublet nodes.

BTW, why is changing the CIDR an option if it won't work?

[2018-03-16 08:24] pires commented on #70
Please, let's not get this more confusing. Let's try and reproduce this. So, please confirm the following steps:

1. you have DC/OS 1.11.
2. install dcos-kubernetes 1.0.1-1.9.4 (latest version) with 3 kube-nodes instead of the default 1.
3. `kubectl -n kube-system get pods` shows 2 kube-dns pods: one is running, the other is failing.

[2018-03-16 08:31] redpine42 commented on #70
Yes DC/OS 1.11
Yes dcos-kubernetes 1.0,101,9,4 with 3 kube-nodes.
Also, running on centos 7 with 6 nodes.  1 Master, 2 public and 3 private.
It will take me a few minutes to reproduce.

[2018-03-16 08:32] rimusz commented on #8
sure

[2018-03-16 08:45] pires commented on #70
I will try and reproduce this now.

[2018-03-16 09:06] bmcstdio commented on #70
@pires yes, and everything was fine. Double-checked now, just in case, and everything is OK.

[2018-03-16 09:06] pires commented on #70
Can't reproduce!

I have a DC/OS 1.11 cluster with 3 private and 1 public agents. I installed it using this quickstart:

[code]

[code]

[code]

[code]

[code]

[code]

We need to be able to reproduce this in order to investigate. @redpine42 am I missing something?

[2018-03-16 09:10] redpine42 commented on #70
@pires You running AWS or bare metal?  I did not setup a public node.  The default is 0.

I'm launching from the DC/OS UI.

Will try from the cli.

[2018-03-16 09:11] pires commented on #70
@redpine42 `make gcp`  sets up my infra on Google Cloud. Also, there's no need for a public node so it doesn't matter.

Launching from the DC/OS UI or CLI is the same thing.

[2018-03-16 09:15] redpine42 commented on #70
Ya.  That's what I thought.  It's not quite the same test.  What OS is GCP running?  I know AWS is not quite centos 7.

Also, I upgraded from 1.10.4 to 1.11.  Had a few problems with orphaned frameworks at first.  Maybe the upgrade doesn't work properly?

[2018-03-16 09:16] pires commented on #70
Honestly can't tell. Is there the possibility for us to get access to this cluster and try and check it for ourselves?

[2018-03-16 09:21] redpine42 commented on #70
Sure.  Would you like vpn access?

One other thought.  I've been testing cilium and upgraded the kernel to 4.15.7-1.el7.elrepo.x86_64.  Any known issues there?

[2018-03-16 09:28] pires commented on #70
If I had access to this cluster, networking would be the first thing I'd investigate. I don't see any issues with the kernel, on the contrary, having newer kernels is usually better.

If you can provide direct access, that would be great as I could jump in for a quick look. If this is a private cluster and more complicated steps are necessary, I am very sorry, but can't do it at this point.

[2018-03-16 09:37] redpine42 commented on #70
@pires It's private, but it's my system and network.  I do testing on it for a client running commercial DC/OS.  I just opened ssh to the master.  I can send you a private key.

[2018-03-16 10:10] rimusz commented on #8
took another look to the issue, it was opened back in september 2017 when `quickstart` was based on `dcos-launch`, we moved to terraform based setup in december, which uses a bit different setup of the dc/os cluster. So I cannot reproduce the issue anymore. I would suggest to close it.

[2018-03-16 10:14] pires commented on #8
I will do so. There's also no more feedback from the people who faced this.

[2018-03-16 10:14] #8 closed

[2018-03-16 10:15] pires commented on #70
Ping me in the DC/OS community slack, #kubernetes channel.

[2018-03-16 19:49] bjornm82 opened #72 "Fluentd not able to tail logs"
Create new cluster:
Mesosphere DC/OS Version 1.11.0

Apply Kubernetes cloud provider support (don't think there is relevance though):
https://aws.amazon.com/blogs/opensource/cloud-provider-support-kubernetes-dcos/
Kubernetes version v1.9.4

Starting Fluentd daemonset:
https://github.com/fluent/fluentd-kubernetes-daemonset/blob/master/fluentd-daemonset-elasticsearch.yaml

Logs fluentd pod output:
[

[2018-03-17 07:58] bjornm82 commented on #72
Some additional information since yesterday:

When sshing into the master node:

[code]

[code]
Searching for all .log files

Returns a list where the logs should be located, but the location only contains non-existing symlinks:
cd /var/lib/mesos/slave/volumes/roles/kubernetes-role/82e9efc0-aeb3-457a-8174-57490b4615c1/new/log/containers/

<img width="1430" alt="screen shot 2018-03-17 at 8 54 40 am

[2018-03-20 18:22] redpine42 commented on #70
One thing I noticed is that sometimes traceroute would work on the overlay network for a node and sometimes it wouldn't.  The only intervening events being stopping kubernetes in DCOS and starting it backup.  So I ran the following test.

- Reboot all private nodes.
- Install kubernetes.
- Uninstall kubernetes.
- Reinstall kubernetes.
[code]
I've run this test a few times with the same results.  A

[2018-03-23 20:03] redpine42 opened #75 "Error in Kubernetes-proxy log"
Running DCOS 1.11 kubernetes 1.0.1-1.9.6.  After launching kubernetes I see the following error in the kubernetes-proxy log.  Startup is looking for a directory /var/log/nginx to exist.  This directory does not exist in a generic Centos 7 install.  Creating this directory on the nodes resolves the error at next launch.

I0323 15:49:06.166402     7 executor.cpp:651] Forked command at 12
nginx: [ale

[2018-03-23 20:40] redpine42 commented on #70
Also, am seeing this in the logs for each of node proxies, i.e., kube-node-2-kube-proxy.

W0323 09:34:39.781117      10 proxier.go:468] clusterCIDR not specified, unable to distinguish between internal and external traffic

[2018-03-23 20:56] pires commented on #75
I believe this is harmless, right @bmcstdio?

[2018-03-23 20:57] pires commented on #70
That warning is unrelated and harmless.

[2018-03-23 20:57] pires commented on #70
I am still unable to reproduce this.

[2018-03-23 21:00] redpine42 commented on #75
It doesn't cause any problems for me, but still an error.

[2018-03-23 21:03] pires commented on #75
Not quite right. It just means the logfile doesn't exist and so it gets created.

[2018-03-23 21:05] redpine42 commented on #70
Still digging.  Some of the nodes the 44.128.0.x gateways I can access and some I can't.

[code]

[2018-03-23 21:07] redpine42 commented on #75
Directory is missing and the log file does not get created, nor the directory.  I tested this.

So unless the directory is created prior to startup the log file does not get created.

[2018-03-23 21:58] redpine42 commented on #70
Another error message on the node relevant to the dcos overlay.

[code]

[2018-03-24 13:13] redpine42 commented on #70
Based upon the above error.  I followed some advice on how to correct.  I followed the following steps and all my nodes my problems have gone away.

sudo systemctl stop dcos-net
sudo rm -rf /var/lib/dcos/navstar/
sudo systemctl start dcos-net

This fixed both the pod startup issues on restarts of just kubernetes in DC/OS and access to the dashboard from kubernetes-proxy.

[2018-03-24 13:51] pires commented on #70
This is great feedback @redpine42! Thank you very much. @shaneutt maybe you are interested in adding this to your troubleshooting resources?

[2018-03-24 16:33] pires commented on #72
This is a limitation on our end and, at the moment, there's no quick, safe resolution we can think of. We will come back to this in the future.

[2018-03-26 14:03] daniel-sherwood opened #76 "kubeconfig fails"
Hi

I have kubernetes-1.0.2-1.9.6 installed on a DC/OS 0.11 cluster.  The kubconfig command fails as follows...

[code]

Cheers

Daniel Sherwood

[2018-03-26 14:03] daniel-sherwood opened #77 "kubernetes-dashboard not found"
Hi

I have installed kubernetes-1.0.2-1.9.6 on a DC/OS 0.11 cluster and the Kubernetes Dashboard is not available. The following is returned...

[code]

I did previously have it working, but after changing a configuration setting (public_nodes) and restarting this issue occured. I have tried re-installing from Kubernetes and even restoring the master node to a snapshot taken before I first did the

[2018-03-26 14:54] hectorj2f commented on #77
@daniel-sherwood Could you share the output of few commands with us to better understand your problem ?
`dcos kubernetes plan status deploy`
`kubectl get nodes`
`kubectl get pods --all-namespaces`

[2018-03-26 15:10] daniel-sherwood commented on #77
[code]

I notice the various PENDING items and have stopped various other services and allocated additional CPUs to ensure there are adequate resources and it still shows kube-dns cycling through PENDING/STARTING/STARTED.

Cheers

[2018-03-26 15:16] pires commented on #76
@hectorj2f please help here.

[2018-03-26 16:28] hectorj2f commented on #77
@daniel-sherwood Based on what you shared, it seems there are not enough resources to schedule the single kube-node you have. As you can guess, you don't have any kube-node therefore the mandatory pods cannot be deployed. Could you try to uninstall and install again the framework? Also, it'd be interesting to see which resources you already have allocated with `https://<CLUSTER_IP>/mesos/#/agents`

[2018-03-26 16:42] daniel-sherwood commented on #77
Just went to get that information and all the bits now seem to be deployed and the dashboard is available.

[code]
Thanks for the help.

[2018-03-26 16:42] #77 closed

[2018-03-26 18:09] hectorj2f commented on #76
@daniel-sherwood This could happen when there isn't a cluster section in the `dcos.toml` configuration file of your cluster. Could you run `dcos auth login` to your cluster ? We need to be sure you're logged in the right cluster.
Could you also print the content of your dcos.toml file e.g `~/.dcos/clusters/CLUSTER_ID/dcos.toml` ?

[2018-03-27 08:50] daniel-sherwood commented on #76
Tried that - still not working.

[code]

[2018-03-27 08:56] daniel-sherwood commented on #76
Remved ~/.dcos/ and re-ran 'dcos cluster setup' and it is now working.

Thanks.

[2018-03-27 08:56] #76 closed

[2018-04-06 16:25] davideberdin opened #79 "Cloud Provider option makes kube-controller-manager to fail"
I am using the new version of Kubernetes 1.9.6 and I noticed that no matter what kind of configuration I use (even the default options), when enabling the **aws** cloud-provider the **kube-controller-manager** is unable to start. The error that is throwing is the following:

[code]

If I disable the option, Kubernetes is able to run correctly again.
It's worth to mention that I tried to install Ku

[2018-04-06 16:31] bmcstdio commented on #79
@davideberdin Have you followed the [cloud-provider instructions](https://docs.mesosphere.com/services/kubernetes/1.0.2-1.9.6/advanced-install/#iam-policy-and-tag)? The following message suggests you don't have the required tag:

[code]

How did you create your DC/OS cluster?

[2018-04-07 11:31] davideberdin commented on #79
You are right! I was totally missing the Tag "KubernetesCluster" in my CloudFormation. Thank you very much. I will close the issue :)

[2018-04-07 11:31] #79 closed

[2018-05-07 12:45] josepedro commented on #29
I had these problems and I got follow steps from this link: https://docs.mesosphere.com/1.8/usage/managing-services/uninstall/

[2018-05-09 10:02] engapa opened #81 "Unable to update config of kubernetes service"
When someone wants to change some parameters of configuration, for example change the number of kubernetes cpus from default values:

[code]
to:
[code]
WE never get a ready kubernetes service. And by using the dcos update command then plans never end successfully.

All tests were launched on GCP. With the following desired_cluster_profile.gcp contents:

[code]

[2018-05-09 10:45] hectorj2f commented on #81
@engapa The private agents of type `n1-standard-8` with 8 available cpus won't be able to allocate all the components in these 3 private agents. There aren't enough cpu resources.

[2018-05-09 10:53] engapa commented on #81
More information about it:

[code]

[code]

[code]

[2018-05-09 10:59] hectorj2f commented on #81
@engapa There isn't space in those 3 private agents to allocate all the components:
[code]

[2018-05-09 11:09] engapa commented on #81
Thanks a lot @hectorj2f,  the error was i didn't consider the rest of associated quotas (default values) as you said.

ThankU very much!

[2018-05-09 11:14] pires commented on #81
Thank you all!

[2018-05-09 11:14] #81 closed

[2018-05-25 09:48] uditha-atukorala opened #85 "Kubernetes installation stuck in IN_PROGRESS"
Hi,

I've been trying to install kubernetes (1.0.3-1.9.7 & 1.0.2-1.9.6) but the installation gets stuck. Can't access kubernetes dashboard either (similar error to #77).

[code]

Any ideas why this is?

[2018-05-25 09:58] hectorj2f commented on #85
@uditha-atukorala can you try to search for any `FAIL` offer in the output of `https://<CLUSTER_IP>/service/kubernetes/v1/debug/offers` ? I believe it is related to lack of enough available resources

[2018-05-25 10:06] uditha-atukorala commented on #85
@hectorj2f, thanks for the pointers. It does look like it is not having enough resources.

e.g.
[code]
[code]

I'll take a look.

[2018-05-25 10:26] hectorj2f commented on #85
No problem. Closing this issue!

[2018-05-25 10:26] #85 closed

[2018-06-07 12:32] #44 closed

[2018-06-07 12:33] #70 closed

[2018-06-07 12:35] pires commented on #72
@bjornm82 this is been worked on as we speak. We expect it to be released somewhere in the coming 3 months.

[2018-06-07 13:58] pires opened #88 "Support 1.1.0-1.10.3 or newer"
Due to the [1.0.1-1.10.3 breaking changes](https://docs.mesosphere.com/services/kubernetes/1.1.0-1.10.3/release-notes/#breaking-changes), there needs to be some work on this quickstart to automate exposing the Kubernetes API.

[2018-06-07 14:15] pires opened #89 "CLI-related make goals are confusing"
- `get-cli` downloads `kubectl` and `dcos` to the working directory. It never checks if the binaries are already available, if the version matches, etc. before downloading, so every call downloads the binaries to the working directory.
- `setup-cli` calls `dcos` from the working directory. It doesn't check if the binary is available, if the version matches, etc.

Then, references to `kubectl` alwa

[2018-06-07 15:33] bjornm82 commented on #72
Thanks @pires !

[2018-06-07 17:45] hbceylan commented on #77
Hi, I have installed but still dashboard not available?

[code]

<img width="1422" alt="screen shot 2018-06-07 at 20 44 35" src="https://user-images.githubusercontent.com/23728382/41116663-a067a47a-6a93-11e8-856e-9ced88400198.png">

[2018-06-07 21:00] pires commented on #77
If you're reading this far, @hbceylan as deployed the new (as I write this) release, 1.1.0-1.10.3, which had a breaking change on how we expose the API and, thefore, the dashboard.

[2018-06-15 14:52] rimusz commented on #88
#90 does that

[2018-06-15 14:54] rimusz commented on #89
yes, we do need that handle in a better way

[2018-06-19 15:40] #88 closed

[2018-06-22 22:48] pires opened #91 ""make deploy" fails"
The following command:

[code]

resulted in the following failure:

[code]

[2018-06-23 06:44] rimusz commented on #91
latest quickstart does not support versions below 1.1.1-1.10.4

[2018-06-23 06:45] rimusz commented on #91
is there the reason you running it with 1.0.3-1.9.7?

[2018-06-23 15:06] pires commented on #91
Yes, was trying to reproduce a report where the user couldn't update from 1.0.3-1.9.7 to 1.1.1-1.10.4.

Can you please document in the README that the quickstart doesn't support any version before 1.1.1-1.10.4?

[2018-06-23 15:07] pires commented on #91
Also, can you please open a PR that updates `/docs/cncf_conformance.md`, accordingly? Please, make sure you run the instructions before opening the PR.

[2018-06-23 15:36] rimusz commented on #91
shall I make one PR for the readme and conformance docs update?

[2018-06-23 16:21] pires commented on #91
Whatever you prefer. I like that idea.

[2018-06-26 07:47] ravinani02 commented on #85
Hey @hectorj2f ,
I came across the same issue, Could you please let me know the recommended resources that need to be configured for kube-node such that the kubernetes dashboard works. I tried to scale my resource both horizontally and vertically but still didn't find any luck.I'm trying to install using dcos-vagrant on my local machine.

Thanks in advance

[2018-06-26 07:49] ravinani02 commented on #85
Here are the logs from above mentioned url,

FAIL(VolumeEvaluationStage): Offer failed to satisfy: name: disk, value: type: SCALAR scalar { value: 10240.0 }, role: kubernetes-role, pre-reserved-role: *, principal: kubernetes-principal, type: 'ROOT', container-path: 'var' with resourceId: Optional.empty

FAIL(ResourceEvaluationStage): Offer failed to satisfy: name: cpus, value: type: SCALAR scalar

[2018-06-26 07:51] ravinani02 commented on #85
@uditha-atukorala  May be you can guide me on this since you already have a solution,

[2018-06-26 08:19] hectorj2f commented on #85
@ravinani02 Did you have a look at the docs https://github.com/mesosphere/dcos-kubernetes/blob/master/docs/package/install.md#prerequisites ? Based on the `FAIL` you shared here, it seems there aren't enough available resources in your cluster.

[2018-06-26 09:12] uditha-atukorala commented on #85
@ravinani02, my issue was not having enough agent node resources. I ended up upgrading my nodes but you can also try scaling the k8s cluster down.

[2018-06-26 19:43] pires opened #93 "Drop SSH tunnel"
When we have figured out if MLB is causing timeouts when executing `kubectl {logs,attach,exec,port-forward,proxy}`, and if we find a fix, we should drop the SSH tunnel.

Please, let's not forget to update the conformance docs - *and make sure tests run*!

[2018-06-27 10:49] rimusz commented on #91
addressed with #92

[2018-06-27 10:49] #91 closed

[2018-06-28 13:19] rsltrifork opened #95 "Pod cannot call it's own service"
I installed flink 1.5 on kubernetes on DC/OS, but it seems the jobmanager pod cannot call itself through the jobmanager service, which means that flink cannot deploy jars and the cluster is useless.

I wonder if there is a bug in the DC/OS overlay network integration with kubernetes? I'm pretty sure this should work on a normally working kubernetes cluster.

---

calling jobmanager from a taskmana

[2018-06-28 14:58] pires commented on #95
Thanks for reporting. We will be looking into it soon.

[2018-06-28 17:21] sreis commented on #95
Good news is that I was able to replicate it. Bad news is that a few minutes later as soon as I started doing a network capture the issue _vanished_ and I was able to call the service from the pod it's pointing to.

So... it seems to be an issue with the overlay. I'll follow up with the networking team and provide more details as soon as possible.

[2018-06-29 08:14] pires commented on #93
Closed by #94

[2018-06-29 08:14] #93 closed

[2018-06-29 16:34] sreis commented on #95
So it's not an overlay issue and it's related to how we are not setting the hairpin mode correctly.

This ticket in kubernetes provided the clue https://github.com/kubernetes/kubernetes/issues/13375

Has a workaround until we release a proper fix I suggest setting it manually. For example like this:
[code]

[2018-07-02 09:41] rsltrifork commented on #95
Thank you. The workaround work.

[2018-07-09 08:49] sreis commented on #95
@rsltrifork We enabled hairpin mode by default in the new release. Can you test it and then close close the ticket?

[2018-07-20 17:52] blublinsky commented on #72
There are several problems here. THe most fundamental one is how to configure fluentd to access kubernetes logs.
On the straight kubernetes the configuration looks as follows:
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
This assumes a fixed location of everything on

[2018-07-24 08:51] pires commented on #72
@blublinsky

What does _straight kubernetes_ mean?

Anyway, regarding a planned resolution, yes, as mentioned [above](https://github.com/mesosphere/dcos-kubernetes-quickstart/issues/72#issuecomment-395404408) it's been worked on and we expect to release it as part of DC/OS 1.12.

[2018-08-08 12:40] knaufk opened #101 "Failed to Write to cpu.cfs_quota_us"
Hi!

I am running a small Kubernetes Cluster on DC/OS on GCP. For one of my deployments I see the error below, when trying to run a Pod with resource limits higher than the number of CPUs specified as reserved resources, i.e. the "Allocatable" resources, e.g. when I specify 3 CPUs reserved for pods below error happens with 5 CPUs or more in the container resource limits, but not with up to 4 CPUs.

[2018-08-09 11:27] pires commented on #101
First, your Kubernetes nodes have only 3 CPU and you're requesting a total of 5. Only a bug in Kubernetes would allow this init container to be scheduled.

Now, the actual error seems to be very similar to [this issue](https://github.com/kubernetes/kubernetes/issues/44697). Can you try and replace `cpu: 5` with `cpu: 500m`?

[2018-08-14 13:09] rsltrifork commented on #95
fixed

[2018-08-14 13:09] #95 closed

[2018-08-29 09:18] pires commented on #72
As mentioned before, this will be released as part of our DC/OS 1.12 release - and Kubernetes package 2.x.

[2018-10-10 08:44] arnabnandy1706 opened #105 "Unable to setup Kubectl command in DCOS Master"
Hello,

I am running below the command to get kubectl in master node but getting below the error.

Command:
        `dcos kubernetes kubeconfig --apiserver-url https://<public-slave-agent-ip>:6443 --insecure-skip-tls-verify`

ERROR:
`
2018/10/10 14:12:40 failed to update kubeconfig context '10211203926443': HTTP GET Query for http://<master-ip>/service/kubernetes/v1/auth/data failed: 403 Forbidden

[2018-10-10 08:46] arnabnandy1706 commented on #105
@hectorj2f Please help me !!!

[2018-10-10 08:48] bmcstdio commented on #105
@arnabnandy1706 as mentioned in the [documentation](https://docs.mesosphere.com/services/kubernetes/1.3.0-1.10.8/connecting-clients/#connecting-clients), you must make sure that `dcos` (the DC/OS CLI) is configured to access the target cluster using HTTPS:

Could you please make this change and try again?

[2018-10-10 09:37] arnabnandy1706 commented on #105
Hello @bmcstdio ,

Thanks for the help.

This is working fine for me now.

Warm Regards,
Arnab

[2018-10-10 09:40] arnabnandy1706 commented on #105
@bmcstdio

It got register to access Kubernetes Cluster API.

`kubeconfig context '10211203926443' updated successfully`

But how to access the kubernetes kubectl command from the master node?

Warm Regards,
Arnab

[2018-10-10 10:00] pires commented on #105
You can setup `kubectl` on any node, internal to DC/OS or not, by following [our instructions](https://docs.mesosphere.com/services/kubernetes/1.3.0-1.10.8/connecting-clients/#connecting-clients).

We do not support specific scenarios such as configuring `kubectl` in a DC/OS master, and we actually advise you not to do it, for security reasons.

[2018-10-10 10:00] #105 closed

[2018-10-31 12:52] hectorj2f commented on #72
this issue should be fixed in `2.0.0-1.12.1` https://docs.mesosphere.com/services/kubernetes/2.0.0-1.12.1/

[2018-10-31 12:52] #72 closed

[2018-11-20 09:38] arnabnandy1706 opened #108 "Unable to delpoy Application on Kubernetes running on DCOS"
Hello All,

I am deploying on Application on top of Kubernetes Cluster which is running on top of DC/OS Cluster.

But when I am executing below the command:

`# kubectl create -f deploy.yaml`

The container is not getting created and below the error I can see in describe command output.:

`Events:`
 ` Type     Reason            Age                    From               Message`
`  ----     ------

[2018-11-20 09:45] arnabnandy1706 commented on #108
Taint of Kubernetes Nodes:

`# kubectl describe nodes <Node_Name>`

Output:
`Taints:             kubelet-resource-watchdog.kubernetes.dcos.io/public=NodeDiskPressure:NoSchedule`

I am not sure whether this should be <None>.

Please suggest.

Regards,
Arnab

[2018-11-20 09:46] arnabnandy1706 commented on #108
@pires

[2018-11-21 04:45] arnabnandy1706 commented on #108
Any help on this please ?

[2018-12-17 18:33] cbakersdl commented on #29
I had this same problem but with Grafana on version 1.11.5. The solution was as @sm0nt suggested, delete it from exhibitor.
I had trouble finding the URI at first so posting here for posterity:
http://<my-dcos-master>:8181/exhibitor/v1/ui/index.html

[2019-01-15 20:55] BobbyJohansen commented on #95
Can you clarify what release this was put in?

[2019-01-29 09:47] fupelaqu opened #109 "etcd is unable to start on DC/OS 1.12.1"
After installing Kubernetes Engine, I was able to create a kubernetes cluster on DC/OS 1.12.1

$dcos kubernetes cluster create
...
DC/OS Kubernetes is being installed!

But the kubernetes-cluster/etcd-0-peer service could not start (always in staging status)

Any suggestion would be really appreciate

[2019-02-07 17:22] pires commented on #109
Are you using this quickstart?

[2019-02-07 17:22] pires commented on #108
Closed due to inactivity.

[2019-02-07 17:22] #108 closed

[2019-02-13 22:42] iqarmy opened #111 "authentication issue"
hi guys, following the quickstart guide on a local DC/OS community cluster, I've successfully deployed kubernetes + kubernetes cluster , yet kubectl complains about authentication even whilst setting the cluster with "Always allow" authorization:

if I hit enter to avoid credential usage it just hangs otherwise:

kubectl get nodes
Please enter Username: a
Please enter Password: *
error: You must b

[2019-02-13 22:47] dkoshkin commented on #111
@iqarmy how did you setup your `kubeconfig` file, did you use the `make kubeconfig` target or some other method?

Are there any errors if you run that command?

[2019-02-13 22:59] iqarmy commented on #111
I've actually manually created it as I'm using OSX on my local machine whilst DC/OS cluster runs within the local network. Below its contents (xx.xx.xx.xx - address of marathon-lb) :
"
$ cat ~/.kube/config
apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://xx.xx.xx.xx:6443
  name: kubernetes01
contexts:
- context:
    cluster: kubernetes01
    user: ""
  nam

[2019-02-13 23:07] dkoshkin commented on #111
Do you mind wrapping the code in "```" as [here](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting), it will make it easier to review.

[2019-02-13 23:09] iqarmy commented on #111
Edited thx.

[2019-02-13 23:10] iqarmy commented on #111
adding dcos info for the kube cluster as well:
[code]

[2019-02-13 23:16] iqarmy commented on #111
Just to update I'm getting 401 (unauth) regardless the:
[code]
or
[code]

Otherwise the cluster is provisioned as default.

[2019-02-14 01:02] dkoshkin commented on #111
I would recommend using the Makefile target and then comparing it to the `kubeconfig` you are generating.

[2019-02-25 11:17] deveshk0 opened #112 "Not able to access host binded volume in Kubernetes"
I have some volumes mounted on every node as /dcos/volume[number] , I am not able access node volumes in kuberenets nodes

[2019-04-09 12:39] azzeddinefaik opened #114 "kubernetes CLI package error"
When I try to create a k8s cluster on dcos cluster - open source.
[code]

[2019-04-09 12:40] azzeddinefaik commented on #114
I got Error :

fork/exec /home/afaik/.dcos/clusters/34bf627a-f463-47a1-950d-8fef42079a99/subcommands/kubernetes/env/bin/dcos-kubernetes: exec format error

[2019-09-12 03:14] II-VSB-II opened #117 "Is it possible to convert same quickstart using API call rather than DCOS CLI ?"
Hi All,
I am deploying Kubernetes cluster on DCOS sometimes it works fine but sometimes it stuck at private node deployment even I check I have more than enough resources in my DCOS cluster.

If I deploy 4 private nodes in kubernetes it will deploy 3 but stuck at 4th node and If I  choose 3 private nodes It stuck at 3rd one and deployment plan will never be completed.

Also sometimes it works fine

[2019-10-25 19:44] Falydoor opened #118 ""Bad CPU type in executable" with macOS Catalina"
After upgrading to macOS Catalina, I'm not able to run commands like `dcos kubernetes cluster create`.

Here is what I get when I try to create a cluster:
[code]

I suspect the upgrade to Catalina to be the issue 💥

[2019-10-25 20:01] sreis commented on #118
The CLI was updated in v2.4.4-1.15.5. Please try installing it first with:
[code]

[2019-10-25 20:17] Falydoor commented on #118
Thanks!

[2019-10-26 07:55] sreis commented on #118
@Falydoor can we close this?

[2019-10-26 15:19] #118 closed

[2019-11-19 11:00] nadendlaprasad commented on #36
Is it possible to expose nodeport service via marathon-lb ? If yes , can you please provide a link which can help me understand, how a nodeport service can be exposed via marathon-lb ?

[2019-11-20 05:15] nadendlaprasad opened #119 "Access kubernetes nodeport service via marathon-lb?"
Is it possible to expose nodeport service via marathon-lb ? If yes, can you please provide the link which explains the process of exposing kubernetes cluster nodeport service via marathon-lb ?

[2020-04-16 22:00] mbarretta opened #120 "error during deploy at dcos_generate_config.sh"
having completed all the prereqs, I get the following during `make deploy`

[code]

Full logs attached
[output.txt](https://github.com/mesosphere/dcos-kubernetes-quickstart/files/4489923/output.txt)

[2020-07-05 12:35] #112 closed

[2020-07-27 12:04] nadendlaprasad commented on #108
I am facing the same issue and I have cleaned up disk space but still couldn't get rid of taints and unable to deploy. If i check node details i can see nodiskpressure status set to false and taint still there.

Anything else i should do ?